<html>
    <head>

    </head>
    <body>


 

        <ul>
            <% 
            for(var i=0; i<users.length; i++) {
            %>
                <li><%= users[i].firstName %></li>
                <li><%= users[i].lastName %></li>
                <li><%= users[i].email %></li>
            <%
            }
            %>
            </ul>

    
    </body>
</html>